<?xml version="1.0" encoding="UTF-8"?>
<config>
    <component_connection>
	<host>somehost.somedomain</host>
	<component>alice.somehost.somedomain</component>
	<secret>abcdefghijklmnop</secret>
	<port>8887</port>
	<tls>yes</tls>
	<reconnect>yes</reconnect>
    </component_connection>
    <aliases>
	<connection>
	    <hostname>somehost.somedomain</hostname>
	    <domain>somehost.somedomain</domain>
	    <username>alias</username>
	    <password>0123456789</password>
	    <port>5222</port>
	    <tls>yes</tls>
	    <resource>Alice</resource>
	    <real_jid>realjid1@somehost.somedomain</real_jid>
	    <real_jid>realjid2@somehost.somedomain</real_jid>
	</connection>
    </aliases>
    <service>
	<pid_file>/var/run/alice/alice.pid</pid_file>
	<error_log>/var/log/alice/error_log</error_log>
    </service>
</config>
